@import "../../../theme/theme";

.block > .body .list > .item {
    width: 100%;
}

:host {
    --background: transparent !important;
    z-index: 2;

    button {
        outline: none;
    }

    ion-icon {
        font-size: 1.7rem;
        color: #006610;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .block {
        width: 100%;
        margin: 2vh auto 0 auto;
        overflow: hidden;

        .titre {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: rgba(208, 255, 79, 0.77);

            h2 {
                background: transparent;
            }

            .refresh {
                margin-right: 2vw;
                background: none;
            }
        }

        .body {
            background-color: rgba(247, 255, 0, 0.36);
            padding: 0.2em;

            .list {
                .item {
                    height: auto;
                    border-bottom: #4c7d2a 1px solid;
                    text-align: left;
                    background: none;

                    .new_title {
                        margin-left: 1vw;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 100%;
                        overflow: hidden;
                    }
                }

                .item:last-child {
                    border-bottom: unset;
                }
            }

            .footer {
                font-size: 0.8rem;
                text-align: right;
            }
        }
    }
}