<div id="background"></div>

<ion-content>
  <button-menu></button-menu>
  <div class="mt-content" [ngClass]="{'selected':input}">
    <div class="block" *ngIf="!input">
      <div class="body">
        <h2>{{"select_categories_acteur"| translate}}</h2>

        <select [(ngModel)]="input">
          <option *ngFor="let filtre of filtres">{{filtre}}</option>
        </select>
      </div>
    </div>


    <div class="search" *ngIf="input">
      <select [(ngModel)]="input">
        <option *ngFor="let filtre of filtres">{{filtre}}</option>
      </select>
    </div>
    <div class="block" *ngIf="input">
      <div class="titre">
        <h2>
          {{ input }}
        </h2>
      </div>
      <div class="body">
        <div class="list">
          <div *ngFor="let type of acteurs[input] | values">
            <h3>{{ type[0].categorie_principale_detail?type[0].categorie_principale_detail:"Divers" }} :</h3>
            <ul>
              <li *ngFor="let t of type" (click)="details(t)">
                <div class="info">
                  <img src="assets/imgs/{{ t.image }}" width='150px'/>
                  <h5 style='display: block'>{{t.nom}}</h5>
                  <div class="description" [innerHtml]="(t.descr)"></div>
                </div>
                <div class="buttons">
                  <button>
                    <ion-icon name="information-circle-outline"></ion-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
