<div id="background"></div>

<ion-content>
  <button-menu></button-menu>
  <div class="mt-content">
    <div class="selector">
      <h2>{{"select_categories_acteur"| translate}}</h2>
      <select [(ngModel)]="input">
        <option *ngFor="let filtre of filtres">{{filtre}}</option>
      </select>   
    </div>

    <div id="credits" *ngIf="!input">   
        <p style="text-align: center;"><strong>Crédits</strong></p>
        <span>Le <a (click)="openUrl('http://lagalerieduzerodechet.fr/?page_id=1111')" target="_blank">catalogue des acteurs</a> a été réalisé par la Galerie du Zéro Déchet (licence "Creative Commons Paternity"). Il présente les acteurs de la réduction des déchets de Nantes et des environs (limite large Pays de la Loire). </span>
        <a (click)="openUrl('http://lagalerieduzerodechet.fr/?page_id=1234')" target="_blank">{{'plus_d_infos'|translate}}.</a>
    </div>

    <div class="listBlock" *ngIf="input">
      <div *ngFor="let type of acteurs[input] | values">
            <h3>{{ type[0].categorie_principale_detail?type[0].categorie_principale_detail:"Divers" }}</h3>
            <div class="sections">
              <div class="section section-acteur" *ngFor="let t of type" (click)="details(t)">
                <div class="fullWidthTitre"><h5>{{t.nom}}</h5></div>
                <div class="logo">
                  <img src="assets/imgs/{{ t.image }}"/>                  
                </div>    
                <div class="info">
                  <div class="description" [innerHtml]="(t.descr)"></div>
                </div>
                <div class="buttons">
                  <ion-icon name="information-circle"></ion-icon>
                </div>
              </div>
            </div>
      </div>
    </div>

  </div>
</ion-content>
