@import "../../../theme/theme";
:host {
  ion-content {
    @include mtnbackground();

    .mt-content{
      .block{
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;

        .body{
          text-align: left;
          background: none;
          padding: 2vh 2vw;
          h2 {
            color: #fff;
            text-shadow: 1px 1px 2px #1c310d;
            margin-top: 0em;
            text-align: center;
          }
          .list {
            margin:0;
          }
        }
      }
    }

    #credits {
      font-size: 0.9em;
      border-radius: 2vw;
      .body {
        background: #ebf9be;
        padding:1em;
      }
    }

    select{
      height: 10vw;
      width: 97%;
      margin-top:1vh;
      padding: 0px;
      border: 2px solid #296209;
      border-radius: 0.8em;
      text-align: center;
      text-align-last:center;
    }

    .search {
      display: flex;
      width: 100%;
      margin-top: 3vh;
    }

    .block {
      width: 95vw;
      margin: 2vh auto 0 auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      .titre {
        background: none;
        h3 {
          text-transform: capitalize;
          color: #fff;
          text-shadow: 1px 1px 2px #1c310d;
          text-align: center;
          margin: 2vh 0;
        }
      }
      .body {
        --background: #fff;
        background-color: var(--background);

        h3 {
          text-transform: capitalize;
          color: #fff;
          text-shadow: 1px 1px 2px #1c310d;
          text-align: center;
          margin: 2vh 0;
        }
        ul {
          margin: 0;
          padding-left: 0;
          li {           
            width: 100%;
            padding: 1vh 1vh;
            background: #edffd8c7;
            font-size: 0.9em;
            border-bottom: 1px solid #175700;
            list-style: none;
            &:first-child {
              border-top-left-radius: 0.8em;
              border-top-right-radius: 0.8em;
            }
            &:last-child {
              border-bottom: none;
              border-bottom-left-radius: 0.8em;
              border-bottom-right-radius: 0.8em;
            }
            .flex-list {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-start;
            }
            img {
              max-width: 5em;
              height: auto;
            }
            h5 {
              margin: 0;
              text-align: center;
              color: #135301;
              padding: 0.25em 0em;
            }
            .buttons {
              display: flex;
              align-items: center;
              button {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
