<div id="background"></div>
<ion-content no-scroll>
  <button-menu></button-menu>
  <div class="mt-content">
    <div class="title">
      <h1>{{ "contact" | translate }}</h1>
    </div>
    <div class="mt-form">

      <div class="form-group">
        <label>{{ "contact_advice" | translate }}</label>
        <textarea [(ngModel)]="form.advice"></textarea>
      </div>

      <div class="form-group">
        <label>{{ "contact_mail" | translate }}</label>
        <input type="text" [(ngModel)]="form.mail" />
      </div>

      <div class="button">
        <button
          ion-button
          block
          color="primary"
          (click)="send()"
          [disabled]="onLoad === true"
        >
          {{ "contact_send" | translate }}
        </button>
      </div>
    </div>

  </div>

      <div class="mt-content">
        <div class="titre">
          <h1>A propos</h1>
        </div>
        <div>Cette application est développée par les membres de l'association "Mieux trier à Nantes".</div>
      </div>
</ion-content>
