<div id="background"></div>
<ion-content no-scroll>
  <button-menu></button-menu>
  <div class="mt-content">

    <div class="block">
      <div class="titre">
        <h2>{{ "contact" | translate }}</h2>
      </div>
      <div class="body">
       
        <form #contactForm="ngForm" (ngSubmit)="send(contactForm)" >
          <ion-item margin-vertical>
            <ion-label position="stacked" class="my-label"><span style='color:black;font-size:1.2 em;'>{{ "contact_advice" | translate }}</span></ion-label>
            <ion-textarea style="margin-top: 0.5em;
            width: 100%;
            border: 2px solid #b2ca3c;
            padding: 0.1em;
            font-size: 0.9em;
            font-family: Verdana;" name="advice" #userAdvice="ngModel" ngModel required></ion-textarea>
          </ion-item>
          <ion-item margin-vertical>
            <ion-label position="stacked" class="my-label"><span style='color:black;font-size:1.2 em;'>{{ "contact_mail" | translate }}</span></ion-label>
            <ion-input type="email" name="mail" #userMail="ngModel" ngModel required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
          </ion-item>
          <button ion-button block large [disabled]="!contactForm.valid" type="submit"> {{ "contact_send" | translate }}</button> 
        </form>
        
      </div>
    </div>
 
    <div class="block">
      <div class="titre">
        <h2>{{"about" | translate}}</h2>
      </div>
      <div class="body">
        <div class="list">Cette application est développée par les membres de l'association "Mieux trier à Nantes".</div>
        <div class="list">Les développeurs sont Christian Renoulin, Romain Debernardi, Cédric Derache.</div>
        <div class="list">L'association est également constituée de Matthieu Weber (président), Vanessa Viavant (chargée de communinication) et Antoine Jaury (qui réalise le site CartoVrac.fr).</div>
      </div>
    </div>

    <div class="block">
      <div class="titre">
        <h2>{{"appli_green" | translate}}</h2>
      </div>
      <div class="body">
        <div class="list">Afin de réduire son impact environnement, les données de l'application sont stoquées sur le téléphone (ne nécessite pas internet) sauf les actualités et les images de la carte.</div>
        <div class="list"><br/>
          <p>Les données de la carte proviennent de :</p>
          <p>- Ville de Nantes : conteneurs, déchèteries, écopoints;</p>
          <p>- OpenStreetMap : lieux de vrac, réemploi, ateliers co-réparation;</p>
          <p>- Compostri : composteurs;</p>
          <p>- Le Relais : conteneurs de vêtements.</p>
        </div>
      </div>
    </div>
    
  </div>

</ion-content>
