@import "../../../theme/theme";
:host {

  ion-content {
    @include mtnbackground();
  }

  .block {
    width: 95vw;
    margin: 2vh auto 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    .body {
      --background: #fff;
      background-color: var(--background);

      .my-label { 
        font-size:1.4em !important;
      }
    }
    input {
      width: 90%;
      margin-top: 0.5em;
      border: 2px solid #b2ca3c;
      padding: 0.5em;
    }
    button {
      margin: auto;
      width: 96%;
      @include buttonStyle();
      margin-top:1em;
    }

  }
}
