<div id="background"></div>
<ion-content no-scroll>
  <button-menu></button-menu>
  <div class="mt-content">

    <div class="title">
      <h1>{{ "contact" | translate }}</h1>
    </div>
    <div class="mt-form">

      <div class="form-group">
        <label>{{ "contact_advice" | translate }}</label>
        <textarea [(ngModel)]="form.advice"></textarea>
      </div>

      <div class="form-group">
        <label>{{ "contact_mail" | translate }}</label>
        <input type="text" [(ngModel)]="form.mail" />
      </div>

      <div class="button">
        <button
          ion-button
          block
          color="primary"
          (click)="send()"
          [disabled]="onLoad === true"
        >
          {{ "contact_send" | translate }}
        </button>
      </div>
    </div>
 
    <div class="block">
      <div class="titre">
        <h2>{{"about" | translate}}</h2>
      </div>
      <div class="body">
        <div class="list">Cette application est développée par les membres de l'association "Mieux trier à Nantes".</div>
        <div class="list">Les développeurs sont Christian Renoulin, Romain Debernardi, Cédric Derache.</div>
        <div class="list">L'association est également constituée de Matthieu Weber (président), Vanessa Viavant (chargée de communinication) et Antoine Jaury (qui réalise le site CartoVrac.fr).</div>
      </div>
    </div>

    <div class="block">
      <div class="titre">
        <h2>{{"appli_green" | translate}}</h2>
      </div>
      <div class="body">
        <div class="list">Afin de réduire son impact environnement, les données de l'application sont stoquées sur le téléphone (ne nécessite pas internet) sauf les actualités et les images de la carte.</div>
        <div class="list">La plupart des points de la carte proviennet de OpenStreetMap.</div>
      </div>
    </div>
    
  </div>

</ion-content>
