<div id="background" [ngClass]="{'on-drag':onDrag===true,'on-select':onSelect===true,'on-advise':onAdvise===true}">
</div>
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <button ion-button right menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-scroll>
    <div id="title2">
      {{ 'configurez_selon_votre_adresse'| translate }}
    </div>
  <div id="title">
    {{ 'drap_to_answer'| translate }}
  </div>
  <div id="game" *ngIf="questions.length > 0" [ngClass]="{'on-drag':onDrag===true,'on-select':onSelect===true,'on-advise':onAdvise===true,'on-over':onOver===true}">
    <div class="reponses">
      <div class="reponse" id="{{ reponse.id }}" *ngFor="let reponse of reponses" (drop)="drop($event, reponse.id)"
        (dragenter)="dragenter($event,reponse.id)" (dragleave)="dragleave($event,reponse.id)" (click)="clickReponse($event,reponse.id)">
        <img src="assets/imgs/thegoodsorting/{{ questions[questionIndex].image }}" class="question" *ngIf="questions[questionIndex].userReponse">
        <ion-icon name="arrow-forward"></ion-icon>
        <img src="assets/imgs/thegoodsorting/{{reponse.image}}" class="reponse-img">
        <div class="title">
          {{reponse |lang:'descr'}}
        </div>
        <div class="resume" *ngIf="reponse.resume || reponse.resume_en">
          {{ reponse|lang:'resume' }}
        </div>
      </div>
    </div>

    <div id="garbage" class="garbage" draggable="true" (dragstart)="dragstart($event)" (dragend)="dragend($event)">
      <img src="assets/imgs/thegoodsorting/{{ questions[questionIndex].image }}" alt="Image">
      <div>
        {{ questions[questionIndex] | lang:'descr' }}
        <span *ngIf="questions[questionIndex].resume || questions[questionIndex].resume_en">{{
          questions[questionIndex]|lang:'resume' }}</span>
      </div>
    </div>
  </div>

  <div id="restart" [ngClass]="{'on-over':onOver===true}">
    <button (click)="restart()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </div>

  <div id="progress-block" *ngIf="questions.length>0" [ngClass]="{'on-over':onOver===true}">
    <div class="bar">
      <div class="background" [ngStyle]="{'width.%':((questionIndex/questions.length)*100)}"></div>
      <div class="step" [ngClass]="{'is-true':question.isTrue===true, 'is-false':question.isTrue===false,'current':i===questionIndex}"
        *ngFor="let question of questions; let i = index">
        <img src="assets/imgs/thegoodsorting/{{ question.image }}" alt="Image">
      </div>
    </div>
  </div>

  <div id="difficult" [ngClass]="{'on-over':onOver===true}">
    <button (click)="changeDifficult()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </div>

  <div id="confirm" [ngClass]="{'show':onSelect===true}">
    <div class="body">
      <div class="row content" *ngIf="questions[questionIndex] && questions[questionIndex].userReponse">
        <div class="col" [translate]="'quiz_confirm'" [translateParams]="{'reponse':(questions[questionIndex]|lang:'descr'),'question':(questions[questionIndex].userReponse|lang:'descr')}"></div>
      </div>
      <div class="row button">
        <div class="col">
          <button ion-button color="secondary" block (click)="confirm()">{{ 'yes'|translate}}</button>
        </div>
        <div class="col">
          <button ion-button color="danger" block (click)="cancel()">{{ 'no'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div id="result" [ngClass]="{'show':onConfirm===true,'is-true': questions[questionIndex].isTrue===true}" *ngIf="questions[questionIndex]">
    <div class="body">
      <div class="row title">
        <div class="col">
          {{(questions[questionIndex].isTrue===true)?'Gagné':'Perdu'}}
        </div>
      </div>
      <div class="row content">
        <div class="col">
          {{ questions[questionIndex] |lang:'advice' }}
        </div>
      </div>
      <div class="row button">
        <div class="col">
          <button ion-button color="info" block (click)="nextQuestion()">{{ 'quiz_next'|translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div id="finish" [ngClass]="{'show':onOver===true}">
    <div class="title">
      <h1>{{ 'votre_score'|translate }}</h1>
    </div>
    <stars [score]="score"></stars>
    <div class="legend" [translate]="'quiz_finish_text'" [translateParams]="{'reponses':goodAnswers,'questions':questions.length}">
    </div>

    <ngu-carousel #myCarousel [inputs]="carouselConfig" *ngIf="questions">
      <ngu-tile NguCarouselItem *ngFor="let question of questions; let j = index">
        <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/thegoodsorting/{{ question.image }}" alt="Image">
              <ion-icon name="checkmark" *ngIf="question.isTrue===true"></ion-icon>
              <ion-icon name="close" *ngIf="question.isTrue!==true"></ion-icon>
            </ion-avatar>
            <h2 [ngClass]="{'is-true':question.isTrue===true}"> {{ question|lang:'descr' }}</h2>
          </ion-item>
          <ion-card-content>
            <p> {{ question|lang:'advice' }}</p>
          </ion-card-content>
        </ion-card>
      </ngu-tile>
      <button NguCarouselPrev class='leftRs'>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button NguCarouselNext class='rightRs'>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ngu-carousel>

    <div class="button">
      <button ion-button color="primary" (click)="restart()">
        {{ "rejouer"|translate }}
      </button>
      <div>{{ "ou"|translate }}</div>
      <button ion-button color="primary" (click)="contact()">
        {{ "contact_me"|translate }}
      </button>
    </div>
  </div>
</ion-content>
