<div id="background"></div>

<ion-content>
  <button-menu></button-menu>
  <div class="mt-content" [ngClass]="{'selected':input}">
    <div class="selector">
        <h2>{{"select_quartier"| translate}}</h2>
        <select [(ngModel)]="input">
          <option *ngFor="let filtre of filtres">{{filtre}}</option>
        </select>
    </div>

    <div class="listBlock" *ngIf="input">
          <div *ngFor="let type of trisacs[input] | values">
            <h3>{{ type[0].type_lieu?type[0].type_lieu:"Divers" }}</h3>
            <div class="sections">
              <div class="section" *ngFor="let t of type" (click)="details(t)">
                <div class="info">
                  <h5>{{t.lieu_distribution}}</h5>
                  <div class="horaires" *ngIf="t.horaires">
                    <strong>{{'date_horaires'|translate}} :</strong>
                    <p *ngFor="let horaire of t.horaires | values">
                      {{horaire.jour | amParse:'YYYY-MM-DD' |
                      amDateFormat:'LL'}} : {{horaire.heure}}
                    </p>
                  </div>
                </div>
                <div class="buttons">
                  <ion-icon name="information-circle"></ion-icon>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</ion-content>
