@import "../../../theme/theme";
:host {
  ion-content {
    @include mtnbackground();

    .mt-content{
        .block{
          border-bottom-left-radius: 10vw;
          border-bottom-right-radius: 10vw;

          .body{
            text-align: left;
            background: none;
            padding: 2vh 2vw;
            h2 {
              color: #fff;
              text-shadow: 1px 1px 2px #1c310d;
              margin-top: 0em;
              text-align: center;
            }
            .list {
              margin:0;
            }
          }
        }
    }

    select{
      height: 10vw;
      width: 97%;
      margin-top:1vh;
      padding: 0px;
      border: 2px solid #296209;
      border-radius: 0.8em;
      text-align: center;
      text-align-last:center;
    }

    .block {
      width: 96%;
      margin: 2vh auto 0 auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      .body {
        --background: #fff;
        background-color: var(--background);

        h3 {
          text-transform: capitalize;
          color: #fff;
          text-shadow: 1px 1px 2px #1c310d;
          text-align: center;
          margin: 2vh 0;
        }
        ul {
          margin: 0;
          padding-left: 0;
          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 2vh 2vh;
            background: #edffd8c7;
            font-size: 0.9em;
            border-bottom: 1px solid #175700;
            &:last-child {
              border-bottom: none;
            }
            div {
              margin:0;
            }
            h5 {
              margin: 0;
              font-size: 1.2em;
            }
            .horaires {
              margin-top: 1em;
            }
            .buttons {
              display: flex;
              align-items: center;
              button {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 2rem;
                ion-icon {
                  color:#145b00;
                }
              }
            }
          }
        }
      }
    }
  }
}
