<ion-content>
  <button-menu></button-menu>

  <div class="mt-content">

    <div class="block" style='clear: both;'>
      <div >
        <h2>{{"select_quartier"| translate}}</h2>

        <select [(ngModel)]="input_zone"
          (ngModelChange)="onChangeFiltreZone()"
        >
          <option *ngFor="let filtre of filtres">{{filtre}}</option>
        </select>
      </div>
    </div>

    <div class="search">


      <div class="input-field">
        <input
          type="text"
          placeholder="{{ 'donnez_votre_rue'|translate }}"
          [(ngModel)]="input"
          (ngModelChange)="onChangeFiltre(input)"
        />
        <ion-icon name="close" (click)="cleanFiltre()"></ion-icon>
      </div>
    </div>

    <div class="categories" *ngIf="categories">
      <div class="categorie" *ngFor="let categorie of categories | values">
        <div class="title" *ngIf="categorie.items && categorie.items.length >0">
          <h2>{{ categorie | lang: "nom" }}</h2>
        </div>

        <div class="block" *ngIf="categorie.items && categorie.items.length > 0">
          <div class="body infos">
            <div class="info" *ngFor="let con of categorie.items; let i = index" [ngClass]="{'plus':con.fiche}"
              (click)="voirJourDeCollecte(con)">
              <div><strong>{{ con|lang:'dcv' }}</strong></div>
              <div [innerHtml]="(con | lang:'jcbj')"></div>
              <div class="plus">
                <ion-icon name="help-circle"></ion-icon>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
