@import "../../../theme/theme";
:host {
  ion-content {
    @include mtnbackground();
    .mt-content.fiche .header {
      .img {
        background-color: rgba(127, 200, 77, 0.7);
        border-radius: 2em;
        height: 18vh;
        width: 18vh;
        img {
          width: 90%;
        }
      }
    }

    .currentHomeCollect {
      padding: 5px 0;
      background: rgba(#fff, 0.3);
      text-align: center;
      @include fonts("p");
      color: #fff;
      font-size: 0.8em;
    }
    
    .collects h4 {
      font-size: 0.9em;
    }

  }
  .block > .body {
    padding: 0.5em;
  }
}
