<div id="background"></div>
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <button ion-button right menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-scroll>
  <div class="title">
    <h1>{{ "contact" | translate }}</h1>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>{{ "contact_how" | translate }}</ion-label>
      <ion-select
        [(ngModel)]="form.how"
        (ngModelChange)="howChange($event)"
        multiple="true"
        okText="{{ 'ok' | translate }}"
        cancelText="{{ 'cancel' | translate }}"
      >
        <ion-option>{{ "contact_how_choice_0" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_1" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_2" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_3" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_4" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_5" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_6" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_7" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_8" | translate }}</ion-option>
        <ion-option>{{ "contact_how_choice_9" | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="showHowOther === true">
      <ion-label stacked>{{ "contact_how_choice_9" | translate }}</ion-label>
      <ion-textarea [(ngModel)]="form.how_other"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>{{ "contact_think" | translate }}</ion-label>
      <ion-select
        [(ngModel)]="form.think"
        okText="{{ 'ok' | translate }}"
        cancelText="{{ 'cancel' | translate }}"
      >
        <ion-option>{{ "contact_think_choice_0" | translate }}</ion-option>
        <ion-option>{{ "contact_think_choice_1" | translate }}</ion-option>
        <ion-option>{{ "contact_think_choice_2" | translate }}</ion-option>
        <ion-option>{{ "contact_think_choice_3" | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item
      *ngIf="
        form.think === ('contact_think_choice_2' | translate) ||
        form.think === ('contact_think_choice_3' | translate)
      "
    >
      <ion-label stacked>{{ "contact_think_other" | translate }}</ion-label>
      <ion-textarea [(ngModel)]="form.think_other"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>{{ "contact_info" | translate }}</ion-label>
      <ion-select
        [(ngModel)]="form.info"
        okText="{{ 'ok' | translate }}"
        cancelText="{{ 'cancel' | translate }}"
      >
        <ion-option>{{ "contact_info_choice_0" | translate }}</ion-option>
        <ion-option>{{ "contact_info_choice_1" | translate }}</ion-option>
        <ion-option>{{ "contact_info_choice_2" | translate }}</ion-option>
        <ion-option>{{ "contact_info_choice_3" | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item
      *ngIf="
        form.info === ('contact_info_choice_2' | translate) ||
        form.info === ('contact_info_choice_3' | translate)
      "
    >
      <ion-label stacked>{{ "contact_think_other" | translate }}</ion-label>
      <ion-textarea [(ngModel)]="form.info_other"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ "contact_advice" | translate }}</ion-label>
      <ion-textarea [(ngModel)]="form.advice"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ "contact_mail" | translate }} *</ion-label>
      <ion-input type="text" [(ngModel)]="form.mail"></ion-input>
    </ion-item>

    <div class="button">
      <button
        ion-button
        block
        color="primary"
        (click)="send()"
        [disabled]="onLoad === true"
      >
        {{ "contact_send" | translate }}
      </button>
    </div>
  </ion-list>
</ion-content>
