<div
  id="background"
  [ngClass]="{'on-drag':onDrag===true,'on-select':onSelect===true,'on-advise':onAdvise===true}"
></div>

<ion-content no-scroll forceOverscroll="false">
  <button-menu></button-menu>

  <div class="mt-content">

    <div class="currentHomeCollect">{{ 'votre_configuration_adresse_jeu_short' | translate }} <i><span [innerHTML]="currentHomeCollectModsMco|translate" ></span></i></div>

    <div
      id="game"
      *ngIf="questions.length > 0"
      [ngClass]="{'on-drag':onDrag===true,'on-select':onSelect===true,'on-advise':onAdvise===true,'on-over':onOver===true}"
    >
    <div id="title" *ngIf="!onOver">
      {{ 'drap_to_answer'| translate }}
    </div>
      <div class="reponses">
        <div
          class="reponse clickable"
          id="{{ reponse.id }}"
          data-id="{{ reponse.id }}"
          #rep
          *ngFor="let reponse of reponses"
          (click)="clickReponse($event,reponse.id)"
        >
          <img
            src="assets/imgs/{{ questions[questionIndex].image }}"
            class="question"
            *ngIf="questions[questionIndex].userReponse"
          />
          <ion-icon name="arrow-forward"></ion-icon>
          <img
            src="assets/imgs/{{reponse.image}}"
            class="reponse-img"
          />
          <div class="title">
            {{reponse |lang:'descr'}}
          </div>
          <div class="resume" *ngIf="reponse.resume || reponse.resume_en">
            {{ reponse|lang:'resume' }}
          </div>
        </div>
      </div>

      <div id="garbage" class="garbage" #garbage>
        <img
          src="assets/imgs/{{ questions[questionIndex].image }}"
          alt="Image"
        />
        <div>
          {{ questions[questionIndex] | lang:'descr' }}
          <span
            *ngIf="questions[questionIndex].resume || questions[questionIndex].resume_en"
            >{{ questions[questionIndex]|lang:'resume' }}</span
          >
        </div>
      </div>
    </div>

    <div id="restart" [ngClass]="{'on-over':onOver===true}">
      <button (click)="restart()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </div>

    <div
      id="progress-block"
      *ngIf="questions.length>0"
      [ngClass]="{'on-over':onOver===true}"
    >
      <div class="bar">
        <div
          class="background"
          [ngStyle]="{'width.%':((questionIndex/questions.length)*100)}"
        ></div>
        <div
          class="step"
          [ngClass]="{'current':i===questionIndex}"
          *ngFor="let question of questions; let i = index"
        >
          <ion-icon
            class="is-true"
            *ngIf="question.isTrue===true"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            class="is-false"
            *ngIf="question.isTrue===false"
            name="close-outline"
          ></ion-icon>
          <img
            src="assets/imgs/{{ question.image }}"
            alt="Image"
          />
        </div>
      </div>
    </div>

    <div id="difficult" [ngClass]="{'on-over':onOver===true}">

      <button id="notification-button" (click)="changeDifficult()">
        <ion-buttons slot="end">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
          <ion-badge color="danger" style="position: absolute; right: -5px; top: 2px;" *ngIf="currentDifficult==='niveau_enfant'">1</ion-badge>
          <ion-badge color="danger" style="position: absolute; right: -5px; top: 2px;" *ngIf="currentDifficult==='niveau_normal'">2</ion-badge>
          <ion-badge color="danger" style="position: absolute; right: -5px; top: 2px;" *ngIf="currentDifficult==='niveau_expert'">3</ion-badge>
        </ion-buttons>
      </button>
      
    </div>

    <div id="confirm" [ngClass]="{'show':onSelect===true}">
      <div class="body">
        <div
          class="row content"
          *ngIf="questions[questionIndex] && questions[questionIndex].userReponse"
        >
          <div
            class="col"
            [translate]="'quiz_confirm'"
            [translateParams]="{'reponse':(questions[questionIndex]|lang:'descr'),'question':(questions[questionIndex].userReponse|lang:'descr')}"
          ></div>
        </div>
        <div class="row button">
          <div class="col">
            <button ion-button color="secondary" block (click)="confirm()">
              {{ 'yes'|translate}}
            </button>
          </div>
          <div class="col">
            <button ion-button color="danger" block (click)="cancel()">
              {{ 'no'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="result"
      [ngClass]="{'show':onConfirm===true,'is-true': questions[questionIndex].isTrue===true}"
      *ngIf="questions[questionIndex]"
    >
      <div class="body">
        <div class="row title">
          <div class="col">
            {{(questions[questionIndex].isTrue===true)?'Gagné':'Perdu'}}
          </div>
        </div>
        <div class="row content">
          <div class="col">
            {{ questions[questionIndex] |lang:'advice' }}
          </div>
        </div>
        <div class="row button">
          <div class="col">
            <button ion-button color="info" block (click)="nextQuestion()">
              {{ 'quiz_next'|translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="finish" [ngClass]="{'show':onOver===true}">
      <div class="title">
        <h1>{{ 'votre_score'|translate }}</h1>
      </div>
      <stars [score]="score"></stars>
      <div
        class="legend"
        [translate]="'quiz_finish_text'"
        [translateParams]="{'reponses':goodAnswers,'questions':questions.length}"
      ></div>

      <ngu-carousel
        #myCarousel
        [inputs]="carouselConfig"
        [dataSource]="questions"
        *ngIf="questions"
      >
        <ngu-tile *nguCarouselDef="let question;let j = index">
          <div class="header">
            <div class="image">
              <img
                src="assets/imgs/{{ question.image }}"
                alt="Image"
              />
              <ion-icon
                name="checkmark"
                *ngIf="question.isTrue===true"
              ></ion-icon>
              <ion-icon name="close" *ngIf="question.isTrue!==true"></ion-icon>
            </div>
            <h2 [ngClass]="{'is-true':question.isTrue===true}">
              {{ question|lang:'descr' }}
            </h2>
          </div>
          <div class="body">
            <p [innerHtml]="(question|lang:'advice')"></p>
          </div>
        </ngu-tile>
        <button NguCarouselPrev class="leftRs">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button NguCarouselNext class="rightRs">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ngu-carousel>

      <div class="button">
        <button (click)="restart()">
          {{ "rejouer"|translate }}
        </button>
        <div>{{ "ou"|translate }}</div>
        <button (click)="contact()">
          {{ "contact_me"|translate }}
        </button>
      </div>
    </div>
  </div>
</ion-content>
