<ion-content>
  <div class="mt-content fiche">
    <div class="close" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="header">
      <div class="img" *ngIf="item.image">
        <img src="assets/imgs/{{ item.image }}" />
      </div>
      <h1>{{ item.nom}}</h1>
    </div>
    <div class="body">
      <div class="block">
        <div class="titre">
          <h2>{{'informations'|translate}}</h2>
        </div>
        <div class="body infos">
          <p>
            <strong>{{'select_categories_acteur'|translate}} : </strong>{{ item.categorie_principale|
              translate}}
          </p>
          <p>
            <strong style='text-transform:none;'>{{'statut'|translate}} : </strong>{{ item.statut_juridique |
            translate }}
          </p>
            <strong>{{'resume'|translate}} : </strong>
            <div class="description" [innerHtml]="( item | lang:'descr')"></div>

          <strong>{{'detail'|translate}} : </strong>
          <div class="description" [innerHtml]="( item | lang:'descr_long')"></div>
          
          <div class="buttons">
            <button (click)="openUrl(item.url)">
              {{'plus_d_infos'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
