page-difficult-modal {
  ::-webkit-scrollbar {
    display: none;
  }
  > ion-content {
    #content {
      position: absolute;
      top: 50%;
      left: 15vw;
      right: 15vw;
      background-color: #fff;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
      -webkit-transition: transform 0.3s ease-in-out;
      moz-box-shadow: 0px 0px 5px 0px #656565;
      -webkit-box-shadow: 0px 0px 5px 0px #656565;
      -o-box-shadow: 0px 0px 5px 0px #656565;
      box-shadow: 0px 0px 5px 0px #656565;

      @include desktop {
        left: 0;
        right: 0;
      }

      > .header {
        position: relative;
        width: 100%;
        padding: 15px 20px;
        background-color: color($colors, "primary");
        @include fonts("h1");
        text-align: center;
      }
      > .body {
        position: relative;
        width: 100%;
        background-color: #fff;
        margin-top: 40px;
        > .list {
          > .item {
            margin: 0 0 20px 0;
            @include fonts("p");
            text-align: center;

            &.selected {
              > button {
                background-color: color($colors, "info");
                color: #fff;
              }
            }

            > button {
              width: 90%;
              padding: 12px 17px;
              background-color: #fff;
              border: 1px solid color($colors, "info");
              @include fonts("button", bold);
            }
          }
        }
      }
      > .footer {
        position: relative;
        width: 100%;
        background-color: #fff;
        margin-top: 40px;
        > button {
          width: 100%;
          margin: 0;
          padding: 15px 20px;
          border-radius: 0;
          background-color: color($colors, "info");
          @include fonts("button", bold);
          color: #fff;
        }
      }
    }
  }
}
