<ion-content>
  <div class="mt-content fiche">
    <div class="close" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="header">
      <div class="img" *ngIf="item.image">
        <img src="assets/imgs/{{ item.image }}" />
      </div>
      <h1>{{ item | lang:"nom"}}</h1>
    </div>
    <div class="body">
      <div class="block">
        <div class="titre">
          <h2>Résumé</h2>
        </div>
        <div class="body infos" [innerHtml]="(item|lang:'descr')"></div>
      </div>

      <div class="block" *ngIf="item.fiche">
        <div class="titre">
          <h2>{{'informations'|translate}}</h2>
        </div>
        <div class="body infos" [innerHtml]="(item.fiche|lang:'descr')"></div>
      </div>
    </div>
  </div>
</ion-content>
