.leaflet-container {
  .button-marker {
    background-color: var(--ion-color-primary);
    color: #fff;
    border: 1px solid var(--ion-color-primary);
    font-weight: bold;
    outline: none;
  }
}
