@import "../../../theme/theme";

:host {
    --background: transparent;

    ::-webkit-scrollbar {
        display: none;
    }

    .currentHomeCollect {
        padding: 5px 0;
        background: rgba(#fff, 0.3);
        text-align: center;
        @include fonts("p");
        color: #fff;
        font-size: 0.8em;
      }
   
    #background {
        $quiz_bg_blur: 10px;
        position: absolute;
        top: -$quiz_bg_blur;
        left: -$quiz_bg_blur;
        right: -$quiz_bg_blur;
        bottom: -$quiz_bg_blur;
        @include mtnbackground();

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            opacity: 0;
            @include prefix(transition, opacity 0.3s ease-in-out, webkit);
        }
    }

    ion-content {
        display: flex;
        flex-direction: column;

        #logo {
            margin: 0 auto;
            width: 60%;
            text-align: center;

            >img {
                width: 75%;
                height: auto;
            }

            @include desktop {
                width: 30%;
                grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
            }

            @include tablet {
                width: 40%;
            }
        }

        #menu {
            margin: auto;
            display: grid;
            width: 90%;
            margin-top:3vh;
            cursor: pointer;
            grid-template-columns: repeat(auto-fill, minmax(26vw, 1fr));
            grid-auto-rows: 1fr;
            column-gap: 2vw;
            row-gap: 5vw;
            justify-items: center;

            /*
            @include desktop {
                width: 80%;
                grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
            }

            @include tablet {
                width: 100%;
                grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
            }*/

            .page {
                display: flex;
                flex-direction: column;
                height: 26vw;
                width: 26vw;
                padding:2vw;
                background: rgb(248, 255, 202);
                border-radius: 1em;

                -moz-box-shadow: 2px 2px 3px 0px #25683b;
                -webkit-box-shadow: 2px 2px 3px 0px #25683b;
                -o-box-shadow: 2px 2px 3px 0px #25683b;
                box-shadow: 2px 2px 3px 0px #25683b;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#25683b, Direction=134, Strength=3);

                /*

                @include desktop {
                    height: 15vw;
                    width: 15vw;
                }

                @include tablet {
                    height: 25vw;
                    width: 25vw;
                }*/

                color: #fff;

                >ion-icon {
                    margin: auto;
                    margin-bottom: 0px;
                    font-size: 10vw;
                    color: #006610;

                    /*
                    @include desktop {
                        font-size: 5vw;
                    }

                    @include tablet {
                        font-size: 10vw;
                    }*/
                }

                >span {
                    margin: auto;
                    margin-top: 0.5vh;
                    font-size: 0.9em;
                    font-weight: bold;
                    color: #006610;
                    white-space: pre-line;
                    text-align: center;
                }
            }
        }
    }
}