<div id="background"></div>

<ion-content no-scroll>
  
  <button-menu></button-menu>


  <news></news>
  
  <div class="currentHomeCollect" *ngIf="currentHomeCollectModsMco!==undefined">
    {{ 'votre_configuration_adresse_jeu_short' | translate }} <i><span [innerHTML]="currentHomeCollectModsMco|translate" ></span></i>  </div>

  <div class="currentHomeCollect" *ngIf="currentHomeCollectModsMco==undefined">
    <span>{{ 'alert_collectmodsfilter' | translate }}</span>
  </div>
  
  <div id="menu">
    <div class="page" *ngFor="let page of pages" routerLink="/{{page.link}}" routerDirection="root">
      <ion-icon name="{{ page.icon }}"></ion-icon>
      <span>{{ page.title | translate }}</span>
    </div>
  </div>
</ion-content>
