<ion-content>
  <div id="content">
    <div class="header">
      {{ "difficult_title" | translate}}
    </div>
    <div class="body">
      <div class="list">
        <div
          class="item"
          *ngFor="let item of difficultList"
          [ngClass]="{'selected': item.code=== currentDifficult.code}"
        >
          <button (click)="select(item)">
            {{ item|lang:"descr" }}
          </button>
        </div>
      </div>
    </div>
    <div class="footer">
      <button (click)="valide()">{{ 'ok' | translate }}</button>
    </div>
  </div>
</ion-content>
