domicile-modal {
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  #search-bar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    padding: 10px 20px;
    background-color: color($colors, "primary");

    > input {
      width: 85%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid color($colors, "gris");
    }
    > .close {
      width: 14%;
      margin-left: 1%;
      text-align: right;
      @include fonts("p");
      font-weight: bold;
      line-height: 34px !important;
      color: color($colors, "info");
      cursor: pointer;
    }
  }
  #results {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    overflow: auto;
    > .item {
      display: flex;
      padding: 7px 10px;
      border-bottom: 1px solid color($colors, "primary");
      > .txt {
        display: flex;
        flex-direction: column;
        width: 80%;
        > .name,
        > .tri {
          width: 100%;
          margin: auto;
          @include fonts("p");
          line-height: 150%;
        }
        > .name {
          font-weight: bold;
        }
      }
      > .button {
        width: 20%;
      }
    }
  }
}
