<ion-content no-bounce no-scroll>
  <div id="search-bar">
    <input type="text" [(ngModel)]="searchString" placeholder="Hollande">
    <div class="close" (click)="close()">
      {{ 'cancel' | translate }}
    </div>
  </div>
  <div id="results" *ngIf="homeCollectModsDatas">
    <div class="item" *ngFor="let collect of homeCollectModsDatas | filter:'mots_cles':searchString:3:10">
      <div class="txt">
        <div class="name">
          {{ collect.dcv }}
        </div>
        <div class="tri" [innerHTML]="collect.mco|translate"></div>
      </div>
      <div class="button">
        <button ion-button color="info" block (click)="selectAdresse(collect)">{{ 'choisir' | translate }}</button>
      </div>
    </div>
  </div>
</ion-content>